$mainDarkColor: #000000;
$mainLightColor: #ffffff;
$accentColor: #ff6b08;
$informationColor: #ff001b;
$mainBgColor: #e5e5e5;
$footerBgColor: #f7f7f7;
$buttonBgColor: rgba(0, 0, 0, 0.56);
$header-focus: rgba(255, 143, 68, 0.863);
$duration: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$bg-header-gradient: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
