<main>
  <section>
    <div class="container">
    
      <ul class="cards__list js-cards-list"></ul>
      
      <!-- //шаблон для карти фільма, з метою перевикористанням його у фунції рендера картки -->


      <li class="card__film" data-id='${movie.id}'>
        <div class="thumb">
          <img src='https://place-hold.it/276x402' alt='poster' />
        </div>
        <h2 class="card__title">Назва</h2>
        <p class="card__text">
          <span class="genres">жанр</span> 
          | <span class="release">1990</span> 
          <span class="card__vote_average">0</span>
        </p>
      </li>


    </div>
  </section>
</main>