<div class="backdrop is-hidden" data-modal-register>
  <div class="modal">
    <button class="modal__close-button" data-modal-close-register>
      <svg class="modal__close-icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="order registration">
      <p class="order__title">Hi! Let's register</p>
      <label class="order__fild">
        <span class="order__label">Email</span>
        <input type="text" class="order__input" name="email" />
        <svg class="order__icon">
          <use href="./images/icons.svg#icon-email"></use>
        </svg>
      </label>
      <label class="order__fild">
        <span class="order__label">Password</span>
        <input type="text" class="order__input" name="password" />
        <svg class="order__icon">
          <use href="./images/icons.svg#icon-person"></use>
        </svg>
      </label>
      <label class="order__check">
        <input class="order__checkbox" type="checkbox" name="check contract" />
        <span class="order__checkbox-icon"></span>
        <span class="order__checkbox-text"
          >I accept the terms of
          <a href="" class="order__contract-link">the privacy policy</a></span
        >
      </label>
      <button class="order__form-button" type="submit">Register</button>
    </form>
  </div>
</div>
