<footer class="footer">
  <div class="footer__container">
    <span>&#169; 2023 | All Rights Reserved | </span>
    <span>
        Developed with
      <svg class="icon-heart" width="14" height="13">
        <use href="/src/images/icons.svg#icon-heart"></use>
      </svg>
      by
      <a class="footer__link">GoIT Students</a></span
    >
  </div>
</footer>

<!-- модалка -->
<div class="visually-hidden backdrop" data-modal-teem>
  <div class="visually-hidden teem-modal">
    <div class="team-modal__btn--close">
      <svg width="32" height="32" class="teem-modal__svg">
        <use href="/src/images/icons.svg#icon-close-black"></use>
      </svg>
    </div>
    <h2 class="teem-modal__header">Developers</h2>
    <ul class="team-modal-list list">
  
    <li class="teem-modal__item">
        <img src="/src/images/teem-photo/sandra-selezen.jpg" alt="Photo Oleksandra Selezen" width="120" height="120" class="teem-modal__img">
        <div class="team-modal__text-wrap">
          <p>
            <span class="team-modal__span--orange">
              Oleksandra Selezen
            </span>Team lead, developer
          </p>
          <ul class="list teem-modal-sm">
            <li>
              <a href="https://www.linkedin.com/in/aleksandra-selezen/" target="_blank">
                <svg width="24" height="24" class="teem-modal__svg">
                  <use href="/src/images/icons.svg#icon-linkedin2"></use>
              </svg>
             </a>
            </li>
            <li>
              <a href="https://github.com/sandra-selezen" target="_blank">
                <svg width="24" height="24" class="teem-modal__svg">
                  <use href="/src/images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    <li class="teem-modal__item">
      <img src="/src/images/teem-photo/yaroslav-yakovenko.jpg" alt="Photo Yaroslav Yakovenko" width="120" height="120" class="teem-modal__img">
      <div class="team-modal__text-wrap">
        <p>
          <span class="team-modal__span--orange">
              Yaroslav Yakovenko
          </span>Scram, developer
        </p>
        <ul class="list teem-modal-sm">
          <li>
            <a href="https://www.linkedin.com/in/yaroslav-yakovenko/" target="_blank">
                <svg width="24" height="24" class="teem-modal__svg">
                  <use href="/src/images/icons.svg#icon-linkedin2"> </use>
              </svg>
             </a>
            </li>
            <li>
              <a href="https://github.com/Yaroslav-Yaroslav" target="_blank">
                <svg width="24" height="24" class="teem-modal__svg">
                  <use href="/src/images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </li>
    <li class="teem-modal__item">
      <img src="/src/images/teem-photo/anton-petrenko.jpg" alt="Photo Anton Petrenko" width="120" height="120" class="teem-modal__img">
        <div class="team-modal__text-wrap">
          <p>
            <span class="team-modal__span--orange">
                    Anton Petrenko
            </span>Developer
          </p>
            <ul class="list teem-modal-sm">
              <li>
                <a href="https://www.linkedin.com/in/anton-petrenko-2164579b/" target="_blank">
                  <svg width="24" height="24" class="teem-modal__svg">
                    <use href="/src/images/icons.svg#icon-linkedin2"></use>
                  </svg>
                </a>
              </li>
                <li>
                  <a href="https://github.com/mantr88" target="_blank">
                    <svg width="24" height="24" class="teem-modal__svg">
                        <use href="/src/images/icons.svg#icon-github"></use>
                    </svg>
                  </a>
    </li>
  </li>
    <li class="teem-modal__item">
      <img src="/src/images/teem-photo/diane-khomenko.jpeg" alt="Photo Diane Khomenko" width="120" height="120" class="teem-modal__img">
        <div class="team-modal__text-wrap">
          <p>
            <span class="team-modal__span--orange">
              Diane Khomenko
            </span>Developer
          </p>
            <ul class="list teem-modal-sm">
              <li>
                <a href="https://www.linkedin.com/in/diane-khomenko/" target="_blank">
                  <svg width="24" height="24" class="teem-modal__svg">
                    <use href="/src/images/icons.svg#icon-linkedin2"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://github.com/dianekhomenko" target="_blank">
                  <svg width="24" height="24" class="teem-modal__svg">
                    <use href="/src/images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
    </li>
    <li class="teem-modal__item">
      <img src="/src/images/teem-photo/dmytro-petrenko.jpg" alt="Photo Dmytro Petrenko" width="120" height="120" class="teem-modal__img">
        <div class="team-modal__text-wrap">
          <p>
            <span class="team-modal__span--orange">
              Dmytro Petrenko
             </span>Developer
          </p>
            <ul class="list teem-modal-sm">
              <li>
                <a href="https://www.linkedin.com/in/dima-petrenko/" target="_blank">
                  <svg width="24" height="24" class="teem-modal__svg">
                    <use href="/src/images/icons.svg#icon-linkedin2"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://github.com/petrenkodmytro" target="_blank">
                 <svg width="24" height="24" class="teem-modal__svg">
                    <use href="/src/images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </li>
            <li class="teem-modal__item">
              <img src="/src/images/teem-photo/elina-dubrovska.jpg" alt="Photo Elina Dubrovska" width="120" height="120" class="teem-modal__img">
                <div class="team-modal__text-wrap">
                  <p>
                    <span class="team-modal__span--orange">
                      Elina Dubrovska
                    </span>Developer
                  </p>
                  <ul class="list teem-modal-sm">
                    <li>
                       <a href="https://www.linkedin.com/" target="_blank">
                          <svg width="24" height="24" class="teem-modal__svg">
                              <use href="/src/images/icons.svg#icon-linkedin2"></use>
                          </svg>
                        </a>
                      </li>
                    <li>
                      <a href="https://github.com/ElinaDubrovska" target="_blank">
                        <svg width="24" height="24" class="teem-modal__svg">
                          <use href="/src/images/icons.svg#icon-github"></use>
                        </svg>
                      </a>
                    </li>
                  </li>
    <li class="teem-modal__item">
      <img src="/src/images/teem-photo/olena-kvasko.jpg" alt="Photo Olena Kvasko" width="120" height="120" class="teem-modal__img">
        <div class="team-modal__text-wrap">
          <p>
            <span class="team-modal__span--orange">
              Olena Kvasko
            </span>Developer
          </p>
            <ul class="list teem-modal-sm">
              <li>
                <a href="https://www.linkedin.com/" target="_blank">
                  <svg width="24" height="24" class="teem-modal__svg">
                    <use href="/src/images/icons.svg#icon-linkedin2"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://github.com/ElenaAlexk" target="_blank">
                  <svg width="24" height="24" class="teem-modal__svg">
                    <use href="/src/images/icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </li>
      <li class="teem-modal__item">
                <img src="/src/images/teem-photo/veronika-didun.jpg" alt="Photo Veronika Didun" width="120" height="120" class="teem-modal__img">
                  <div class="team-modal__text-wrap">
                    <p>
                      <span class="team-modal__span--orange">
                        Veronika Didun
                      </span>Developer
                    </p>
                    <ul class="list teem-modal-sm">
                      <li>
                         <a href="https://www.linkedin.com/mwlite/in/вероніка-дідун-882195264" target="_blank">
                            <svg width="24" height="24" class="teem-modal__svg">
                                <use href="/src/images/icons.svg#icon-linkedin2"></use>
                            </svg>
                          </a>
                        </li>
                      <li>
                        <a href="https://github.com/veronika24di " target="_blank">
                          <svg width="24" height="24" class="teem-modal__svg">
                            <use href="/src/images/icons.svg#icon-github"></use>
                          </svg>
                        </a>
                      </li>
                    </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  </div>