<header class="header">
  <div class="container container-header">
    <div class="header-wraper">
      <div class="logo-container">
        <a href="./index.html" class="logo-site">
          <svg class="logo" width="24" height="24">
            <use class="logo-icon" href="/src/images/icons.svg#icon-film"></use>
          </svg>
          <span class="logo__name">Filmoteka</span>
        </a>
      </div>

      <nav class="header-navigation">
        <ul class="navigation-list">
          <li class="navigation-list__item">
            <a class="navigation-list__link site-nav__link-current" href="index.html">HOME</a>
          </li>
          <li class="navigation-list__item">
            <a class="navigation-list__link" href="my-library.html">MY LIBRARY</a>
          </li>
        </ul>
        <ul class="navigation-buttons">
          <li class="js-signIn-btn">
            <button class="navigation-btn">
              <svg width="16" height="16">
                <use href="/src/images/icons.svg#icon-sign-in"></use>
              </svg>
              &nbsp; Sign in
            </button>
          </li>
          <li class="js-signOut-btn visually-hidden">
            <button class="navigation-btn">
              Sign out &nbsp;
              <svg width="16" height="16">
                <use href="/src/images/icons.svg#icon-sign-out"></use>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </div>

    <form class="header-search-form">
      <div class="form-search">
        <input type="text" name="search" class="search form-input" placeholder="Movie search" />
        <button type="submit" class="search-btn">
        </button>
      </div>
    </form>
    <div class="input-error js-input-error visually-hidden">
      Search result not successful. Enter the correct movie name
    </div>
</header>