<main>
  <section class="section">
    <div class="container">
      <ul class="cards__list js-cards-list js-modal-window">
        <!-- шаблон для карти фільма на сторінці бібліотеки -->
        <li class="card__film" data-id='${movie.id}'>
          <div class="thumb">
            <img src='https://place-hold.it/276x402' alt='poster' />
          </div>
          <div class="card__content">
            <h2 class="card__title">Назва</h2>
            <p class="card__text">
              <span class="genres">жанр</span>
              | <span class="release">1990</span>
              <span class="card__vote_average">0</span>
            </p>
          </div>
        </li>
        <li class="card__film" data-id='${movie.id}'>
          <div class="thumb">
            <img src='https://place-hold.it/276x402' alt='poster' />
          </div>
          <div class="card__content">
            <h2 class="card__title">Назва</h2>
            <p class="card__text">
              <span class="genres">жанр</span>
              | <span class="release">1990</span>
              <span class="card__vote_average">0</span>
            </p>
          </div>
        </li>
        <li class="card__film" data-id='${movie.id}'>
          <div class="thumb">
            <img src='https://place-hold.it/276x402' alt='poster' />
          </div>
          <div class="card__content">
            <h2 class="card__title">Назва</h2>
            <p class="card__text">
              <span class="genres">жанр</span>
              | <span class="release">1990</span>
              <span class="card__vote_average">0</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>

<!-- <p class="library__text-empty">
        It seems your library is empty. <br />
        Check out our
        <a href="./index.html" class="library__link">movie list</a>
        to select your favourites!
      </p>
    </div>
    <div class="library__img-container">
      <img
        class="library__img"
        src="https://assets.materialup.com/uploads/4f568f13-42ec-4127-a350-6aafbce456e6/preview.gif"
        alt="gif for missing movies in the library"
      /> -->
