<main>
  <section class="section">
    <div class="container">
      <h1 class="section__title">Popular movies</h1>
      <div class="swiper">
        <ul class="swiper-wrapper js-swiper "></ul>
      </div>
      <div class="not-found visually-hidden">
        <img
          class="not-found_img"
          src="/src/images/not-found.png"
          alt="nothing found"
        />
      </div>
      <ul class="cards__list js-cards-list js-modal-window"></ul>
    </div>
    <div id="pagination" class="tui-pagination"></div>
  </section>
</main>
