<main>
  <section class="section">
    <div class="container">
      <ul class="cards__list js-cards-list js-modal-window">
        <!-- шаблон для карти фільма на головній сторінці -->
        <li class="card__film" data-id='${movie.id}'>
          <div class="thumb">
            <img src='https://place-hold.it/276x402' alt='poster' />
          </div>
          <div class="card__content">
            <h2 class="card__title">Назва</h2>
            <p class="card__text">
              <span class="genres">жанр</span>
              | <span class="release">1990</span>
            </p>
          </div>
        </li>
        <li class="card__film" data-id='${movie.id}'>
          <div class="thumb">
            <img src='https://place-hold.it/276x402' alt='poster' />
          </div>
          <div class="card__content">
            <h2 class="card__title">Назва</h2>
            <p class="card__text">
              <span class="genres">жанр</span>
              | <span class="release">1990</span>
            </p>
          </div>
        </li>
        <li class="card__film" data-id='${movie.id}'>
          <div class="thumb">
            <img src='https://place-hold.it/276x402' alt='poster' />
          </div>
          <div class="card__content">
            <h2 class="card__title">Назва</h2>
            <p class="card__text">
              <span class="genres">жанр</span>
              | <span class="release">1990</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
