<main>
  <section class="section">
    <h1 class="visually-hidden">List of movies in your library</h1>
    <div class="container">
      <div class="library__container visually-hidden">
        <div class="library__text-empty">It seems your library is empty. Check out our
          <a href="./index.html" class="library__link">movie list</a> to select your favourites!
        </div>
        <div class="not-found">
          <img class="not-found_img" src="/src/images/not-found.png" alt="nothing found">
        </div>
      </div>
      <ul class="cards__list js-cards-list-library js-modal-window"></ul>
    </div>
    <div id="pagination" class="tui-pagination"></div>
  </section>
</main>