.cards__list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    justify-content: center;
    gap: 20px;
  }

  @include tablet {
    gap: 32px;
  }
}

.card__film {
  cursor: pointer;
  transform: scale(1);
  transition: transform $duration linear;

  @include tablet {
    flex-basis: calc((100% - 32px) / 2);
  }
  @include desktop {
    flex-basis: calc((100% - 64px) / 3);
  }
}

.card__film:hover,
.card__film:focus {
  transform: scale(1.03);
}

.card__film img {
  border-radius: 5px;
  width: 280px;
  height: 398px;

  @include tablet {
    width: 336px;
    height: 455px;
  }
  @include desktop {
    width: 395px;
    height: 574px;
  }
}

.card__content {
  padding-top: 10px;

  @include desktop {
    padding-top: 12px;
  }
}

.card__title,
.card__text {
  font-size: 12px;
  line-height: 1.33;
  transition: color $duration $timingFunction;

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__title {
  font-weight: 500;
  text-transform: uppercase;

  @media screen and (max-width: 480px) {
    width: 280px;
  }
}

.card__text {
  display: flex;
  color: $accentColor;
}

.genres {
  margin-right: 4px;
}

.release {
  margin-left: 4px;
  margin-right: 9px;
}

.card__vote_average {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 20px;
  font-size: 15px;
  line-height: 1.17;
  color: $mainLightColor;
  background-color: $accentColor;
  border-radius: 5px;
}
