footer {
    background: #F7F7F7;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #545454;

    padding-bottom: 24px;
    padding-top: 24px;

    display: flex;
    justify-content: center;
    text-align: center;


}

footer a {
    color: #545454;
    text-decoration: underline #545454 solid 1px;
    padding-bottom: 5px;
    transition: color 1s;
}

footer a:hover {
    color: #FF6B08;
}

@media screen and (max-width:500px) {
    footer div {
        max-width: 300px;
    }
}

