.library__container {
    display: flex;
    flex-direction: column;
}

.library__text-empty {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

.library__link {
    color: var(--team-sm-bnt-accent);
    cursor: pointer;
}